
<div ng-if="ctrl.state === 'LOADING'">
  <span>Loading board...</span>
</div>

<div class="board-author-circle-container" ng-if="ctrl.state !== 'LOADING'">
  <span class="board-author-circle" ng-repeat="writer in ctrl.status.writerStatusList">
    <span class="board-author-initial">{{writer.letter}}</span>
  </span>
</div>

<div ng-if="ctrl.state === 'WRITING'">
  <div class="board-entry-section">
    <span>Round {{ctrl.status.roundNumber}} of {{ctrl.status.maxRounds}}</span>
  </div>

  <div class="board-entry-section" ng-if="ctrl.status.prevVisibleFragment != null">
    <span class="board-label">Previous Lead: </span>
    <span class="board-prev-lead">{{ctrl.status.prevVisibleFragment}}...</span>
  </div>

  <div class="board-no-previous" ng-if="ctrl.status.prevVisibleFragment == null">
    This is the beginning of a new story so there is no previous lead.
  </div>

  <div class="board-entry-section">
    <span class="board-label">Hidden Part:</span>
    <textarea class="board-text" ng-model="ctrl.frag.hiddenText"></textarea>
  </div>

  <div class="board-entry-section">
    <span class="board-label">Lead:</span>
    <textArea class="board-text" ng-model="ctrl.frag.visibleText"></textArea>
  </div>

  <div class="board-done-section">
    <span class="board-done-indicator">
      <input type="checkbox" ng-model="ctrl.frag.done" ng-change="ctrl.handleDoneChange()" name="doneIndicator">
      <label for="doneIndicator">Finished with fragment</label>
    </span>
  </div>

  <div class="board-timer-section" ng-if="ctrl.status.roundTimerRunning">
    <span>Round ends in {{ctrl.roundTimeRemaining}} seconds...</span>
  </div>

  <!-- <div>
    <span><button ng-click="ctrl.submitFragment()">Submit</button></span>
  </div> -->
</div>

<div ng-if="ctrl.state === 'REVIEW'">
  <div class="board-review-section">
    <span class="board-review-header">Episode complete!</span>
  </div>

  <div class="board-review-author-section" ng-repeat="story in ctrl.finalStories.storyList">
    <button class="board-review-author" ng-click="ctrl.viewStory(story)">Author: {{story.author}}</button>
  </div>

  <div ng-if="ctrl.curStory != null" class="board-review-story-section">
    <div class="board-cur-story-author">{{ctrl.curStory.author}}'s Story:</div>
    <div class="board-cur-story-fragment-container" ng-repeat="fragment in ctrl.curStory.fragmentList">
      <span class="board-cur-fragment-author">({{fragment.author}})</span>
      <div class="cur-fragment-text-container">
        <span class="board-cur-fragment-hidden">{{fragment.hiddenText}}</span>
        <span class="board-cur-fragment-visible">{{fragment.visibleText}}...</span>
      </div>
    </div>
  </div>

  <div class="board-timer-section" ng-if="ctrl.status.episodeTimerRunning">
    <span>Next episode starts in {{ctrl.episodeTimeRemaining}} seconds...</span>
  </div>
  <button class="board-next-button" ng-if="!ctrl.status.episodeTimerRunning" ng-click="ctrl.nextEpisode()">Start Another Round</button>
  <button class="board-next-button" ng-if="ctrl.status.episodeTimerRunning" ng-click="ctrl.cancelNextEpisode()">Cancel Start Next Episode</button>
</div>