
.board-entry-section {
  display: flex;
  margin: 10px;
}

.board-label {
  width: 110px;
  font-weight: bold;
}

.board-prev-lead {
  border: 1px solid white;
  border-radius: 4px;
  font-style: italic;
  padding: 5px;
  flex-grow: 1;
}

.board-text {
  height: 50px;
  flex-grow: 1;
}

.board-done-section {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.board-no-previous {
  display: flex;
  border: 1px solid white;
  border-radius: 8px;
  font-style: italic;
  padding: 5px;
  margin: 10px;
}

.board-timer-section {
  border: 2px solid orange;
  border-radius: 8px;
  display: flex;
  margin: 10px;
  font-weight: bold;
  font-size: 30px;
  color: red;
  justify-content: center;
}

/* ----------------------------------------------------------  */

.board-review-section {
  display: flex;
  margin: 10px;
}

.board-review-header {
  font-size: 20px;
  font-weight: bold;
}

.board-review-author-section {
  display: flex;
  margin: 10px;
}
.board-review-author {
  margin-top: 5px;
}

.board-review-story-section {
  margin: 10px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px;
}

.board-cur-story-author {
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
  padding-bottom: 5px;
}

.board-author-circle-container {
  margin: 0px 8px;
  display: flex;
}

.board-author-circle {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0px 3px;
  cursor: default;
}

.board-author-circle:hover {
  background: #3362a5;
  color: rgba(255, 255, 255, 0.685);
}

.board-author-initial {
  font-size: 20px;
  font-weight: bold;
  background: red;
}

.board-cur-story-fragment-container {
  display: flex;
}

.board-cur-fragment-author {
  font-style: italic;
  color: gray;
  padding-right: 10px;
}

.board-cur-fragment-visible {
  font-style: italic;
}

.board-next-button {
  margin: 10px;
}